<!DOCTYPE HTML>
<html>
<head>
  <title>Catcierge Timeline</title>
  <script src="static/jquery-1.11.1.min.js"></script>
  <script src="static/vis/dist/vis.js"></script>
  <script src="static/js/handlebars-v2.0.0.js"></script>
  <script type="text/javascript" src="static/catcierge.js"></script>
  <link href="static/vis/dist/vis.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
	$(function()
  	{
		var data = new vis.DataSet({});

		var container = document.getElementById('visualization');
		var options = {};
		var timeline = new vis.Timeline(container, data, options);

		catcierge_events_updater("{{ hostname }}", timeline, data);
	});
	</script>
</head>
<body>
	<div id="visualization"></div>
	<div id="selected_event"></div>
</body>
</html>
